
{% extends "page_base.jinja" %}
{% import "macros/menu.jinja" as menu with context %}

{% block space_name %}Headmaster Space{% endblock %}

{# THe main menu #}
{% block main_menu %}
  {{ menu.main(url_for('account.home'), "Home") }}
  {{ menu.main(url_for('account.logout'), "Logout") }}
{% endblock %}
