{% extends "admin/base.jinja" %}
{% import "macros/menu.jinja" as menu with context %}
{% import "macros/object_info.jinja" as info %}

{% macro gravatar(email) -%}
    <img src="{{ email | gravatar }}" alt="" class="circle">
{%- endmacro %}

{% block page_title %}
School
{% endblock %}
{% block space_name %}{{ school.name }}{% endblock %}

{% block main_content %}

{# The page menu. Actions are protected against the necessary rights #}
<div class="section">
    <div class="row">
        <div class="col s12">
            {{ menu.button(url_for('school.update', school_id=school.id), "Edit School", right="school_update") }}
            {{ menu.button(url_for('course.create', school_id=school.id), "New Course", right="course_create") }}
            {{ menu.button(url_for('admin.school_add_teacher', school_id=school.id), "Add Teacher", right="school_add_teacher") }}
            {{ menu.button(url_for('school.delete', school_id=school.id), "Delete School", right="school_delete") }}
        </div>
    </div>
</div>

{# Header info for this school #}
<div class="section">
    {{ info.link_row("Schule", school.name, url_for('school.get', school_id=school.id)) }}
    {{ info.row("Beschreibung", md(school.description)) }}
    {{ info.row("Angelegt am", format_datetime(school.created_at)) }}
    {{ info.row("Zuletzt geändert", format_datetime(school.modified_at)) }}
</div>


<div class="section">
    <div class="row">
        <div class="col s12">
            <h2>Courses</h2>
            {% if courses %}
            <table class="highlight">
                <thead>
                <tr>
                    <th style="width: 20em;">Name</th>
                    <th style="width: 60em;">Description</th>
                    <th style="width: 10em;">From</th>
                    <th style="width: 10em;">Until</th>
                    <th style="width: 12em;">Created at</th>
                    <th style="width: 1em;"></th>
                </tr>
                <tbody class="dc-vtop">
            {% for course in courses %}
                <tr>
                    <td><a href="{{ url_for('course.get', school_id=school.id, course_id=course.id) }}">{{ course.name | nonefilter }}</a></td>
                    <td class="dc-md">{{ course.description | md }}</td>
                    <td>{{ course.from_date | digidate }}</td>
                    <td>{{ course.until_date | digidate }}</td>
                    <td>{{ course.created_at | digidate }}</td> 
                    <td class="right-align dc-icon-column">
                        <a href="{{ url_for('course.delete', school_id=school.id, course_id=course.id) }}">
                            <i class="material-icons red-text text-darken-3">delete</i>
                        </a>
                    </td>

                </tr>
            {% endfor %}
                </tbody>
            </table>
            {% else %}
            <a href="{{ url_for('course.create', school_id=school.id) }}" class="waves-effect waves-light light-blue btn-large">Create your first course</a>
            {% endif %}
        </div>
    </div>
</div>

<div class="section">
    <div class="row">
        <div class="col s12">
            <h2>Teacher</h2>
        </div>
    </div>
    {% if teacher %}
    <div class="row">
        <div class="col s12">
            <ul class="collection">
            {% for user in teacher %}
            <li class="collection-item avatar">
                {{ gravatar(user.email) }}
                <span class="title">{{ user.login }}</span>
                <p>{{ user.first_name }} {{user.last_name}}<br>
                {{ user.email }}
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">delete_sweep</i></a>
            </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col s12">
            No Teacher so far
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}

