{% extends "admin/base.jinja" %}
{% import "macros/menu.jinja" as menu %}

{% block page_title %}
School
{% endblock %}
{% block space_name %}{{ school.name }}{% endblock %}

{% block main_menu_old %}
    <li><a href="{{ url_for('account.home') }}">Back Home</a></li>
    <li>
        <a href="{{ url_for('school.update', school_id=school.id) }}">Edit Scool</a>
    </li>
    <li>
        <a href="{{ url_for('course.create', school_id=school.id) }}">New Course</a>
    </li>
    <li>
        <a href="{{ url_for('school.delete', school_id=school.id) }}">Delete School</a>
    </li>
{% endblock %}

{% block main_content %}
<div class="section">
    <div class="row">
        <div class="col s12">
            {{ menu.button(url_for('school.update', school_id=school.id), "Edit School") }}
            {{ menu.button(url_for('course.create', school_id=school.id), "New Course") }}
            {{ menu.button("#","Add Teacher") }}
            {{ menu.button(url_for('school.delete', school_id=school.id), "Delete School") }}
        </div>
    </div>
    <div class="row">
        <div class="col s12 dc-md">
            <h5 class="flowtext">{{ school.description | md }}</h5>
        </div>
    </div>
</div>

<div class="section">
    <div class="row">
        <div class="col s12">
            <h2>Courses</h2>
            {% if courses %}
            <table class="highlight">
                <thead>
                <tr>
                    <th style="width: 20em;">Name</th>
                    <th style="width: 60em;">Description</th>
                    <th style="width: 10em;">From</th>
                    <th style="width: 10em;">Until</th>
                    <th style="width: 12em;">Created at</th>
                    <th style="width: 1em;"></th>
                </tr>
                <tbody class="dc-vtop">
            {% for course in courses %}
                <tr>
                    <td><a href="{{ url_for('course.get', school_id=school.id, course_id=course.id) }}">{{ course.name | nonefilter }}</a></td>
                    <td class="dc-md">{{ course.description | md }}</td>
                    <td>{{ course.from_date | digidate }}</td>
                    <td>{{ course.until_date | digidate }}</td>
                    <td>{{ course.created_at | digidate }}</td> 
                    <td class="right-align dc-icon-column">
                        <a href="{{ url_for('course.delete', school_id=school.id, course_id=course.id) }}">
                            <i class="material-icons red-text text-darken-3">delete</i>
                        </a>
                    </td>

                </tr>
            {% endfor %}
                </tbody>
            </table>
            {% else %}
            <a href="{{ url_for('course.create', school_id=school.id) }}" class="waves-effect waves-light light-blue btn-large">Create your first course</a>
            {% endif %}
        </div>
    </div>
</div>

<div class="section">
    <div class="row">
        <div class="col s12">
            <h2>Teacher</h2>
        </div>
    </div>
    {% if teacher %}
    <div class="row">
        <div class="col s12">
            {{ teacher }}
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col s12">
            No Teacher so far
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}

