{% import "macros/forms.jinja" as forms %}
{% extends "admin/base.jinja" %}

{% block page_title %}
New Unit
{% endblock %}

{% block main_content %}
<div class="section">
  <h2>New Unit</h2>
  <div class="row">
    <div class="col s12" id="dc_main">

    <form method="POST" action="{{ action }}">
        {{ form.csrf_token }}
        {{ forms.row(form, "position") }}
        {{ forms.row(form, "name") }}
        {{ forms.row(form, "short_description") }}
        {{ forms.row(form, "long_description") }}
        {{ forms.row(form, "is_active") }}
        {{ forms.row(form, "is_visible") }}
        {{ forms.submit(form) }}
    </form>
    </div>
  </div>
</div>
{% endblock %}   

{% block page_script %}

  $(document).ready(function() {
    M.updateTextFields();
  });
        
{% endblock %}   
