{% extends "admin/base.jinja" %}

{% block page_title %}{{ unit.name }}{% endblock %}
{% block space_name %}{{ unit.name }}{% endblock %}


{% block main_content %}
<div class="section">
  <div class="row">
    <div class="col s12 dc-menu">
      <a class="dc-menu-item" href="{{ url_for('school.get', school_id=school.id) }}">{{ school.name }}</a>            
      <a href="{{ url_for('admin.display_school_course', school_id=school.id, course_id=course.id) }}">{{ course.name | nonefilter }}</a>
      <a href="{{ url_for('unit.update', school_id=school.id, course_id=course.id, unit_id=unit.id) }}">Edit</a>
    </div>
  </div>

  <div class="row">
    <div class="col s12" id="dc_main">
      <h5>{{ unit.short_description }}</h6>
      <p>{{ unit.long_description | md }}</p>

    </div>
  </div>
</div>
{% endblock %}   

