{% extends "admin/base.jinja" %}
{% import "macros/menu.jinja" as menu %}
{% import "macros/object_info.jinja" as info %}


{% block page_title %}{{ unit.name }}{% endblock %}
{% block space_name %}{{ unit.name }}{% endblock %}


{% block main_content %}
<div class="section">
  <div class="row">
    <div class="col s12">
      {{ menu.button(url_for('unit.update', school_id=school.id, course_id=course.id, unit_id=unit.id), "Edit") }}
    </div>
  </div>
</div>

{# Header info for this unit #}
<div class="section">
    {{ info.link_row("Schule", school.name, url_for('school.get', school_id=school.id)) }}
    {{ info.link_row("Kurs", course.name, url_for('course.get', school_id=school.id, course_id=course.id)) }}
    {{ info.row("Unit Name", unit.name) }}
    {{ info.row("Kurz Beschreibung", md(unit.short_description)) }}
    {{ info.row("Lang Beschreibung", md(unit.long_description)) }}
    {{ info.row("Angelegt am", format_datetime(unit.created_at)) }}
    {{ info.row("Zuletzt geändert", format_datetime(unit.modified_at)) }}
</div>

{% endblock %}   

