{% macro button(url, label, right=none) %}
    {% if right == none or has_right(right) %}
    <a href="{{ url }}" class="waves-effect waves-light btn-small light-blue">{{ label }}</a>
    {% endif%}
{% endmacro %}

{% macro plain(url, label) %}
    <a class="dc-menu-item" href="{{ url }}">{{ label }}</a>
{% endmacro %}

{% macro main(url, label, right=none) %}
    {% if right == none or has_right(right) %}
    <li><a href="{{ url }}">{{ label }}</a></li>
    {% endif %}
{% endmacro %}
