{% extends "admin/base.jinja" %}

{% block page_title %}
Course Details
{% endblock %}


{% block main_content %}

<div class="section">
    <div class="row">
        <div class="col s12 dc-menu">
            <a class="dc-menu-item" href="{{ url_for('admin.school', school_id=school.id) }}">Back to {{  school.name }}</a>
            <a class="dc-menu-item" href="{{ url_for('admin.update_school_course', school_id=school.id, course_id=course.id) }}">Edit Course</a>
            <a class="dc-menu-item" href="{{ url_for('teacher.create_course_unit', school_id=school.id, course_id=course.id) }}">New Unit</a>
            
        </div>
    </div>
    <div class="row">
        <div class="col s12 dc-md">
            <h1>{{ course.name | nonefilter }}</h1>
            <p>
            {{ course.description | md }}
            </p>
        </div>
    </div>
</div>

<div class="section">
    <div class="row">
        <div class="col s12">
            <h2>Units</h2>
        </div>
        <div class="col s12">
            {% if units %}
                <table class="highlight">
                    <thead>
                    <tr>
                        <th style="width: 20em;">Name</th>
                        <th style="width: 60em;">Short Description</th>
                    </tr>
                    <tbody class="dc-vtop">
                    {% for unit in units %}
                    <tr>
                        <td>{{ unit.name | nonefilter }}</td>
                        <td class="dc-md">{{ unit.short_description | md }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                No Units
            {% endif %}
        </div>
        
    </div>
</div>

{% endblock %}
