{% extends "admin/base.jinja" %}

{% block page_title %}
Create new Course for {{ school.name }}
{% endblock %}

{% block sub_menu %}
    <li>
        <a href="{{url_for('admin.edit_school', school_id=school.id)}}">Back</a>
    </li>
{% endblock %}

{% block main_content %}
<div class="section">
  <h2>Course Details</h2>
  <div class="row">
    <div class="col s6" id="dc_main">
      <form method="POST" action="{{ url_for('admin.create_school_course', school_id=school.id) }}">
          {{ form.csrf_token }}
          {{ form.school_id(value=school.id) }}
          <div class="row">
            {{ form.name(grid="s12") }}
          </div>
          <div class="row">
            {{ form.description(grid="s12") }}
          </div>          
          <div class="row">
            {{ form.from_date(grid="s6") }}
            {{ form.until_date(grid="s6") }}
          </div>          
          <div class="row">
            {{ form.is_private(grid="s12", value="true", unchecked_label="Private", checked_label="Public") }}
          </div>
          <div class="row">
            <div class="col s12 right-align">{{ form.submit }}</div>
          </div>
      </form>
    </div>
    <div class="col s6">
    </div>
  </div>
</div>
{% endblock %}   

{% block page_script %}
  M.AutoInit();
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.datepicker');
    options = {
        format: 'dd.mm.yyyy'
    };
    console.log(elems);
    var instances = M.Datepicker.init(elems, options);
  });
        
{% endblock %}   

<!--
  $(document).ready(function() {
    M.updateTextFields();
    $('.datepicker').datepicker();
  });
--/>
