{% extends "admin/base.jinja" %}

{% block page_title %}
Edit User Account
{% endblock %}

{% block sub_menu %}
    <li>
        <a href="{{url_for('admin.create_user')}}">Delete User Account</a>
    </li>
{% endblock %}

{% block main_content %}
<div class="section">
    <div class="row">
        <h2>Details</h2>
    </div>

    <div class="row">
        <div class="bold col s2 m1 dc-attr">Login</div>
        <div class="light col s3 m3 dc-val">{{ user.login | nonefilter }}</div>
        <div class="bold col s7 m8"></div>
    </div>
    <div class="row">
        <div class="bold col s2 m1 dc-attr">First Name</div>
        <div class="light col s3 m3 dc-val">{{ user.first_name | nonefilter }}</div>
        <div class="bold col s7 m8"></div>
    </div>
    <div class="row">    
        <div class="bold col s2 m1 dc-attr">Last Name</div>
        <div class="light col s3 m3 dc-val">{{ user.last_name | nonefilter }}</div>
        <div class="bold col s7 m8"></div>
    </div>
    <div class="row">
        <div class="bold col s2 m1 dc-attr">Verified</div>
        <div class="light col s3 m3 dc-val">{{ user.is_verified | nonefilter }}</div>
        <div class="bold col s7 m8"></div>
    </div>
    <div class="row">
        <div class="bold col s2 m1 dc-attr">Active</div>
        <div class="light col s3 m3 dc-val">{{ user.is_active | nonefilter }}</div>
        <div class="bold col s7 m8"></div>
    </div>
    <div class="row">
        <div class="bold col s2 m1 dc-attr">Created at</div>
        <div class="light col s3 m3 dc-val">{{ user.created_at | digidate }}</div>
        <div class="bold col s7 m8"></div>
    </div>
    <div class="row">
        <div class="bold col s2 m1 dc-attr">Last login at</div>
        <div class="light col s3 m3 dc-val">{{ user.last_login_at | digidate }}</div>
        <div class="bold col s7 m8"></div>
    </div>
    <div class="row">
        <div class="bold col s2 m1 dc-attr">Roles</div>
        <div class="col s10 m11">
        {% for role in roles %}
            <div class="chip green lighten-2">{{role.name}}</div>
        {% endfor %}
            <div class="chip blue-grey lighten-5">God<i class="close material-icons">close</i></div>
            
        </div>
    </div>    
</div>
{% endblock %}

{% block page_script %}


    $().ready(function() {
    });

{% endblock %}
