{% extends "admin/base.jinja" %}
{% import "macros/forms.jinja" as forms %}

{% macro gravatar(email) -%}
    <img src="{{ email | gravatar }}" alt="" class="circle">
{%- endmacro %}

{% block page_title %}
Create new User
{% endblock %}

{% block main_content %}
<div class="section">
    <form method="POST" action="#">
        <div class="row">
            <div class="col s12"><h3>Add Teacher by login</h3></div>
        </div>
        <div class="row">
            <div class="col s12" id="dc_main">
                {{ form.csrf_token }}
                {{ forms.row(form, "login") }}
                {{ forms.submit(form) }} 
            </div>
        </div>
    </form>
</div>
<div class="section">
    <h3>Zugeordnete Lehrer</h3>
    {% if teacher %}
    <div class="row">
        <div class="col s12">
            <ul class="collection">
            {% for user in teacher %}
            <li class="collection-item avatar">
                {{ gravatar(user.email) }}
                <span class="title">{{ user.login }}</span>
                <p>{{ user.first_name }} {{user.last_name}}<br>
                {{ user.email }}
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">delete_sweep</i></a>
            </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col s12">
            No Teacher so far
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
