{% extends "admin/base.jinja" %}

{% macro role_chip(role) -%}
    {% if role[1] %}
        <a href="{{ url_for('admin.remove_user_role', user_id=user.id, role_id=role[0].id) }}">
        <div class="chip light-blue lighten-2">
            {{role[0].name}}
            <i class="close material-icons yellow-text text-accent-3">star</i>
        </div>
        </a>
    {% else %}
        <a href="{{ url_for('admin.add_user_role', user_id=user.id, role_id=role[0].id) }}">
        <div class="chip blue-grey lighten-5">
            {{role[0].name}}
            <i class="close material-icons">star_border</i>
        </div>
        </a>
    {% endif %}
{%- endmacro %}


{% block page_title %}
Edit User Account
{% endblock %}

{% block sub_menu %}
    <li>
        <a href="{{url_for('admin.update_user', user_id=user.id)}}">Edit</a>
    </li>
    <li>
        <a href="{{url_for('admin.delete_user', user_id=user.id)}}">Delete</a>
    </li>
{% endblock %}

{% block main_content %}
<div class="section">
    <div class="row">
        <h2>Details</h2>
    </div>

    <div class="row">
        <div class="bold col s2 m1 dc-attr">Login</div>
        <div class="light col s3 m3 dc-val">{{ user.login | nonefilter }}</div>
        <div class="bold col s7 m8"></div>
    </div>
    <div class="row">
        <div class="bold col s2 m1 dc-attr">First Name</div>
        <div class="light col s3 m3 dc-val">{{ user.first_name | nonefilter }}</div>
        <div class="bold col s7 m8"></div>
    </div>
    <div class="row">    
        <div class="bold col s2 m1 dc-attr">Last Name</div>
        <div class="light col s3 m3 dc-val">{{ user.last_name | nonefilter }}</div>
        <div class="bold col s7 m8"></div>
    </div>
    <div class="row">
        <div class="bold col s2 m1 dc-attr">Verified</div>
        <div class="light col s3 m3 dc-val">{{ user.is_verified | nonefilter }}</div>
        <div class="bold col s7 m8"></div>
    </div>
    <div class="row">
        <div class="bold col s2 m1 dc-attr">Active</div>
        <div class="light col s3 m3 dc-val">{{ user.is_active | nonefilter }}</div>
        <div class="bold col s7 m8"></div>
    </div>
    <div class="row">
        <div class="bold col s2 m1 dc-attr">Created at</div>
        <div class="light col s3 m3 dc-val">{{ user.created_at | digidate }}</div>
        <div class="bold col s7 m8"></div>
    </div>
    <div class="row">
        <div class="bold col s2 m1 dc-attr">Last login at</div>
        <div class="light col s3 m3 dc-val">{{ user.last_login_at | digidate }}&nbsp</div>
        <div class="bold col s7 m8"></div>
    </div>
    <div class="row">
        <div class="bold col s2 m1 dc-attr">Roles</div>
        <div class="col s9 m10">&nbsp;
        {% for role in roles %}
            {{ role_chip(role) }}            
        {% endfor %}
        </div>
        <div class="bold col s1 m1"></div>
    </div>    
</div>
{% endblock %}

{% block page_script %}
    $().ready(function() {
    });
{% endblock %}
