{% extends "admin/base.jinja" %}

{% macro icon_verified(state) -%}
    {% if state %}
        <i class="small material-icons light-blue-text">verified_user</i>
    {% else %}
        <i class="small material-icons blue-grey-text text-lighten-5">verified_user</i>
    {% endif %}
{%- endmacro %}

{% macro icon_active(state) -%}
    {% if state %}
        <i class="small material-icons light-blue-text">visibility</i>
    {% else %}
        <i class="small material-icons blue-grey-text text-lighten-5">visibility_off</i>
    {% endif %}
{%- endmacro %}

{% macro gravatar(email) -%}
    <img src="{{ email | gravatar }}" alt="" class="circle">
{%- endmacro %}


{% block page_title %}
Users Overview
{% endblock %}

{% block sub_menu %}
    <li>
        <a href="{{url_for('admin.create_user')}}">New User</a>
    </li>
{% endblock %}

{% block main_content %}
<div class="section">
    <div class="row">
        <h2>All Users</h2>
    </div>

    <table class="highlight">
        <thead>
            <tr>
                <th style="width: 1em;"></th>
                <th style="width: 20em;">Login</th>
                <th style="width: 20em;">First Name</th>
                <th style="width: 20em;">Last Name</th>
                <th style="width: 60em;">Email</th>
                <th style="width: 20em;">Created at</th>
                <th style="width: 1em;">Verified</th>
                <th style="width: 1em;">Activated</th>
            </tr>
            <tbody >
            {% for user in users %}
            <tr>
                <td>{{ gravatar(user.email) }}</td>
                <td><a href="{{ url_for('admin.edit_user', user_id=user.id) }}">{{ user.login }}</a></td>
                <td >{{ user.first_name | nonefilter }}</td>
                <td>{{ user.last_name | nonefilter }}</td>
                <td>{{ user.email | nonefilter }}</td>
                <td>{{ user.created_at | digidate }}</td> 
                <td>{{ icon_verified(user.is_verified) }}</td>
                <td>{{ icon_active(user.is_active) }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </thead>
    </table>   
</div> 
{% endblock %}        