{% extends "admin/base.jinja" %}
{% import "macros/menu.jinja" as menu %}


{% block page_title %}
Course Details
{% endblock %}
{% block space_name %}{{ course.name | nonefilter }}{% endblock %}

{% macro info_row(label, value) %}
<div class="row">
    <div class="col s2">{{ label }}:</div>
    <div class="col s10">{{ value }}</div>
</div>
{% endmacro %}

{% block main_content %}
{# The page menu #}
<div class="section">
    <div class="row">
        <div class="col s12">
            {{ menu.button(url_for('school.get', school_id=school.id), school.name) }}
            {{ menu.button(url_for('school.get_school_teacher', school_id=school.id), "Show Teacher") }}
            {{ menu.button(url_for('course.update', school_id=school.id, course_id=course.id), "Edit Course") }}
            {{ menu.button(url_for('unit.create', school_id=school.id, course_id=course.id), "New Unit") }}
        </div>
    </div>
</div>

{# Header info for this unit #}
<div class="section">
    {{ info_row("Schule", school.name) }}
    {{ info_row("Kursname", course.name) }}
    {{ info_row("Beschreibung", md(course.description)) }}
    {{ info_row("Angelegt", course.created_at) }}
    {{ info_row("Zuletzt geändert", course.last_modified_at) }}
    {{ info_row("Startdatum", course.from_date) }}
    {{ info_row("Enddatum", course.until_date) }}
</div>

<div class="section">
    <div class="row">
        <div class="col s12">
            <h2>Units</h2>
        </div>
        <div class="col s12">
            {% if units %}
                <table class="highlight">
                    <thead>
                    <tr>
                        <th style="width: 20em;">Name</th>
                        <th style="width: 60em;">Short Description</th>
                        {% if has_right("course_delete") %}
                        <th style="width: 4em;"></th>
                        {% endif %}
                        
                    </tr>
                    <tbody class="dc-vtop">
                    {% for unit in units %}
                    <tr>
                        <td>
                            <a href="{{ url_for('unit.get', school_id=school.id, course_id=course.id, unit_id=unit.id) }}">
                                {{ unit.position }} - {{ unit.name | nonefilter }}
                            </a>
                        </td>
                        <td class="dc-md">{{ unit.short_description | md }}</td>
                        {% if has_right("course_delete") %}
                        <td>
                            <a href="{{ url_for('unit.delete', school_id=school.id, course_id=course.id, unit_id=unit.id) }}">
                                <i class="material-icons red-text text-darken-3">delete</i>
                            </a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                No Units
            {% endif %}
        </div>
        
    </div>
</div>

{% endblock %}
