{# 
  Update an existing course. 

  Expected variables:
    - form  : Instance of EditCourseForm
    - school: Instance of SchoolModel. The school, the course should be created
              for.
  
  Author : FirstKlaas
#}
{% extends "admin/base.jinja" %}

{% block page_title %}
Edit Course for school {{ school.name }}
{% endblock %}

{% block sub_menu %}
    <li>
        <a href="{{url_for('school.get', school_id=school.id)}}">Back</a>
    </li>
{% endblock %}

{% block main_content %}

<div class="section">
    <div class="row">
        <div class="col s12 dc-menu">
            <a class="dc-menu-item" href="{{ url_for('school.get', school_id=school.id) }}">Back to {{  school.name }}</a>
            <a class="dc-menu-item" href="{{ url_for('course.get', school_id=school.id, course_id=course.id) }}">Cancel</a>
        </div>
    </div>
  <div class="row">
    <div class="col s12">
      <h2>Edit Course</h2>
    </div>
  </div>
  <div class="row">
    <div class="col s6" id="dc_main">
    {% include "admin/fragments/course_form.jinja" with context %}
    </div>
    <div class="col s6">
    </div>
  </div>
</div>
{% endblock %}   

{% block page_script %}
  M.AutoInit();
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.datepicker');
    options = {
        format: 'dd.mm.yyyy'
    };
    console.log(elems);
    var instances = M.Datepicker.init(elems, options);
  });
        
{% endblock %}   
